//COLORS
$headerBack: #401010;
$headerSubtitle: #f1b9b9;
$off-white: rgb(218, 164, 164);
$light-maroon: #4e1c1c;
$orange: #8c4a1c;
$widget-bc: #7740407a;
$light-widget-bc: #77404059;
//SPACING
$s-size: 1.4rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.9rem;
$desktop-breakpoint: 45rem;
